body {
    background-color: #F0F4EF;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffc107;
}

#header {
    background-color: #344966;
}

#footer {
    background-color: #344966;
}

#gernal-about {
    background-color: #909D81;
    color: #F0F4EF;
}

#acro {
    color: #ffc107;
    font-style: normal;
    font-weight: bold;
}