body {
    background-color: #F0F4EF;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffc107;
}

#header {
    background-color: #344966;
}

#footer {
    background-color: #344966;
}